[user]
	name = 212616315
	email = john.lund@ge.com
[core]
	excludesfile = /Users/johnlund/.gitignore_global
	editor = code
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "sourcetree"]
	cmd = /usr/local/bin/meld $REMOTE $BASE $LOCAL
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/meld $REMOTE $BASE $LOCAL --output $MERGED
	trustExitCode = true
[commit]
	template = /Users/johnlund/.stCommitMsg
[cola]
	spellcheck = false
[merge]
	tool = kdiff3
	ff = true
[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	path = /usr/local/bin/kdiff3	
[credential]
	helper = osxkeychain
	helper = !/usr/local/Cellar/openjdk/13.0.2+8_2/libexec/openjdk.jdk/Contents/Home/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /usr/local/Cellar/git-credential-manager/2.0.4_1/libexec/git-credential-manager-2.0.4.jar
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[alias]
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[protocol]
	version = 2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
